div#header h1 { background-size: 100%; height: 170px; margin-bottom: 20px; }
div#headercomingsoon h1 { background-size: 100%; height: 170px;  margin-bottom: 20px; }
div#headerabout h1 { background-size: 100%; height: 170px;  margin-bottom: 20px; }
div#headerlocation h1 { background-size: 100%; height: 170px;  margin-bottom: 20px; }
div#headerarchive h1 { background-size: 100%; height: 170px;  margin-bottom: 20px; }


ul#connect {margin-left: 32px;}
h3.connect {height:101px; width:317px; background-size: 95%;}