div#header h1 {height: 90px;}
div#headercomingsoon h1 {height: 90px;}
div#headerabout h1 {height: 90px;}
div#headerlocation h1 {height: 90px;}
div#headerarchive h1 {height: 90px;}
div#headerabout_sm h1 {background-size: 60%;}
div#headerlocation_sm h1 {background-size: 60%;}
div#headerarchive_sm h1 {background-size: 60%;}


.bijou-logo {margin:0 15px 0 10px; height:119px; width: 25%; background-size: 100%;}

div#filmfeature ul li img {width: 137px; height: 200px; margin-bottom: 15px; float: left;}

.menu ul li a {font-size:12px; margin:20px 40px 0px 0px; text-align: center;}